[flake8]
exclude = .git, .github, __pycache__ , .vscode, build
max-line-length = 79
ignore = E302,E305,W503,E203,E731,E402,E266,E712,F401,F821
indent-size = 4
per-file-ignores =
    */__init__.py:F401
