version: 2.1

jobs:
  build:
    docker:
      - image: cimg/python:3.9.4
    steps:
      - checkout
      - run: 
          name: install dependencies and build documentation
          command: |
              wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh
              chmod +x miniconda.sh
              bash miniconda.sh -b -p $HOME/miniconda
              export PATH=$HOME/miniconda/bin:$PATH
              source $HOME/miniconda/etc/profile.d/conda.sh
              conda update --yes conda
              conda create -n test-env --yes -c conda-forge python=3.9.2 numpydoc pandas scikit-learn matplotlib sphinx sphinx-gallery sphinx_rtd_theme typing_extensions
              conda activate test-env
              pip install .
              cd doc
              make html
      - store_artifacts:
          path: doc/_build/html/
          destination: doc

workflows:
  version: 2
  workflow:
    jobs:
      - build
