name: Publish to PyPi

on:
  release:
    types: [published]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.3.0
      - name: Set up Python
        uses: actions/setup-python@v5.6.0
        with:
          python-version: "3.13"
      - name: Install build dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -e '.[dev]'
      - name: Build package
        run: python -m build
      - name: Publish package
        uses: pypa/gh-action-pypi-publish@27b31702a0e7fc50959f5ad993c78deac1bdfc29
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN_VBL }}
