name: Unit tests

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  get-latest-python:
    runs-on: ubuntu-latest
    outputs:
      latest-python: ${{ steps.latest.outputs.version }}
    steps:
      - uses: snok/latest-python-versions@v1
        id: latest
        with:
          min-version: "3.13"

  build:
    needs: get-latest-python
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          # minimum supported dependencies
          - os: ubuntu-latest
            python-version: "3.9"
            numpy-version: "==1.23.*"
            sklearn-version: "==1.4.*"
            ruff-version: "==0.14.2"
          # latest stable dependencies
          - os: ubuntu-latest
            python-version: "${{ needs.get-latest-python.outputs.latest-python }}"
            numpy-version: ""
            sklearn-version: ""
            ruff-version: ""
          - os: windows-latest
            python-version: "${{ needs.get-latest-python.outputs.latest-python }}"
            numpy-version: ""
            sklearn-version: ""
            ruff-version: ""
          - os: macos-latest
            python-version: "${{ needs.get-latest-python.outputs.latest-python }}"
            numpy-version: ""
            sklearn-version: ""
            ruff-version: ""
    defaults:
      run:
        shell: bash

    steps:
      - name: Git clone
        uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Upgrade pip
        run: python -m pip install --upgrade pip
      - name: Install minimum dependency constraints
        if: ${{ matrix.numpy-version != '' }}
        run: |
          python -m pip install "numpy${{ matrix.numpy-version }}" "scikit-learn${{ matrix.sklearn-version }}"
      - name: Install project with development extras
        run: python -m pip install -e '.[dev]'
      - name: Pin ruff for minimum build
        if: ${{ matrix.ruff-version != '' }}
        run: python -m pip install "ruff${{ matrix.ruff-version }}"
      - name: Check linting
        run: make lint
      - name: Check format
        run: make format
      - name: Check static typing
        run: make type-check
      - name: Test and coverage with pytest
        run: make coverage
      - name: Code coverage
        run: codecov
