name: Unit tests

on:
  push:
    branches:
      -dev
      -main
      -master
  pull_request:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            python-version: "3.7"
            numpy-version: 1.21.4
          - os: ubuntu-latest
            python-version: "3.8"
            numpy-version: 1.21.4
          - os: ubuntu-latest
            python-version: "3.9"
            numpy-version: 1.21.4
          - os: ubuntu-latest
            python-version: "3.10"
            numpy-version: 1.22.4
          - os: ubuntu-latest
            python-version: "3.11"
            numpy-version: 1.25.2
          - os: windows-latest
            python-version: "3.11"
            numpy-version: 1.25.2
          - os: macos-latest
            python-version: "3.11"
            numpy-version: 1.25.2
    defaults:
      run:
        shell: bash -l {0}

    steps:
      - name: Git clone
        uses: actions/checkout@v2
      - name: Set up virtual environment
        uses: conda-incubator/setup-miniconda@v2
        with:
          python-version: ${{ matrix.python-version }}
          environment-file: environment.ci.yml
          channels: defaults, conda-forge
      - name: Install numpy
        run: conda install numpy=${{ matrix.numpy-version }}
      - name: Check linting
        run: make lint
      - name: Check static typing
        run: make type-check
      - name: Test with pytest
        run: make coverage
      - name: Code coverage
        run: codecov
