name: Unit tests

on:
  push:
    branches:
      - master
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          # minimum supported dependencies
          - os: self-hosted-ubuntu
            python-version: "3.9"
            use-pinned-deps: true
            numpy-version: "==1.24.1"
            sklearn-version: "==1.4.*"
            scipy-version: "==1.10.*"
          # latest stable dependencies
          - os: ubuntu-latest
            python-version: "3.x"
            use-pinned-deps: false
          - os: windows-latest
            python-version: "3.x"
            use-pinned-deps: false
          - os: macos-latest
            python-version: "3.x"
            use-pinned-deps: false
    defaults:
      run:
        shell: bash

    steps:
      - name: Git clone
        uses: actions/checkout@v4.3.0
      - name: Set up Python
        uses: actions/setup-python@v5.6.0
        with:
          python-version: ${{ matrix.python-version }}
          check-latest: true
      - name: Install minimum dependency constraints
        if: ${{ matrix.use-pinned-deps }}
        run: |
          python -m pip install "numpy${{ matrix.numpy-version }}" "scikit-learn${{ matrix.sklearn-version }}" "scipy${{ matrix.scipy-version }}"
      - name: Install project with development extras
        run: python -m pip install -e '.[dev]'
      - name: Check linting
        run: make lint
      - name: Check format
        run: make format
      - name: Check static typing
        run: make type-check
      - name: Test and coverage with pytest
        run: make coverage
      - name: Long tests with pytest
        if: github.event_name == 'push' || !github.event.pull_request.draft
        run: make long-tests
